[user]
	name = hnagato
	email = hnagato@gmail.com
[color]
	ui = auto
[alias]
	ai = add --interactive
	ci = commit
	co = checkout
	di = diff
	st = status
	br = branch
	fo = fetch origin
	ro = rebase origin
	uptodate = !git submodule foreach "git pull --rebase; git co master"
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~
	undopush = push -f origin HEAD~:master
	hist = log --graph --date=short --pretty=format:\"%C(yellow)%h%C(green bold) %ad%C(reset) %s%C(blue)%d [%an]\"
	l = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(green)%an %C(green bold)%ar%Creset'
	ls = log --stat -p -1
[core]
	pager = less -R
	excludesfile = /Users/hnagato/.global_gitignore
	quotepath = false
[github]
	user = hnagato
[pull]
	# 全追跡ブランチで 'git pull' する時に rebase を使う
# 	rebase = true
[merge]
	tool = p4merge
[mergetool]
	keepBackup = false
[mergetool "p4merge"]
	path = p4merge
	keepTemporaries = false
	trustExitCode = false

[push]
	default = simple
