@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	background-color: #ababab;
	color: #333;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.6;
}
p,li,dt,dl {
	line-height: 1.6;
}
p {
	margin: 0 0 1em 0;
}
ul li {
	list-style-type: none;
}
a img {
	border: 0;
}
a:link {
	color: #078D00;
	text-decoration: none;
}
a:visited {
	color: #189B12;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #666;
}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 2px solid #CCC;
	color: #CCC;
}
pre {
	width: 100%;
	padding: 1em 0;
	overflow: auto;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
}
table {
	width: 100%;
	border-spacing: 2px;
	margin: 1.5em 0;
}
table th, table td {
	padding: 0.3em 0.75em;
}

/**
 * Display classes
 */
.hidden {
	display: none;
	visibility: hidden;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.clear {
	clear: both;
}

/**
 * ClearFix hacks
 */
.clearfix:after {
	content: “.”;
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* exlude MacIE5 \*/
* html .clearfix {
	height: 1%;
}
* .clearfix {
	display: block;
}
/* end MacIE5 */

